.kv-heading-1{font-size:18px}

table {
    font-family: "Pacifico";
    font-size: 40px;
    width: 100%;
    text-align: center;
}

table td {
    font-family: "Pacifico";
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
}

table td p {
    display: inline-block;
    background-color: #000;
    width: 20px;
    height: 20px;
    color: #50fefe;
}